<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>掲示板アプリケーション</title>
<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
	<h3>QAVi(掲示板アプリ)</h3>
	<form th:action="@{bbs/postarticle}" th:object="${articleForm}" method="post">
	<div th:errors="*{name}" class="error-messages"></div>
	投稿者名：<input type="text" name="name" th:field="*{name}" th:errorclass="error-input"><br>
	<div th:errors="*{content}" class="error-messages"></div><br>
	投稿内容：<textarea name="content" th:field="*{content}" th:errorclass="error-input" rows="5" cols="25"></textarea><br><br>
	<input type="submit" value="記事投稿">
	</form>
	<hr>
	<div th:each="article : ${articleList}">
		投稿者名：<span th:text="${article.name}"></span><br>
		投稿内容：<pre><span th:text="${article.content}"></span></pre>
	
	</div>
	

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script th:src=@{/js/like.js}></script>
</body>
</html>